  <div class="header clearfix">
    <nav>
      <ul class="nav nav-pills pull-right">
        <li role="presentation" class="active"><a href="https://rlabuonora.com">Inicio</a></li>
        <li role="presentation"><a href="/proyectos">Proyectos</a></li>
        <li role="presentation"><a href="http://rlabuonora74.wordpress.com/" target='_blank'>Blog</a></li>
      </ul>
    </nav>
    <h3 class="text-muted">rlabuonora</h3>
  </div>