<!DOCTYPE html>
  <html lang="en">
    <% include ../partials/head %>
    <script src="bootstrap-switch.min.js"></script>
    <link href="bootstrap-switch.css" rel="stylesheet">
    <link rel="stylesheet" href="twitch.css" type="text/css" />
    <body>
      <div class="container">
        <% include ../partials/header %>
        
       
         <h2 class="text-center">Foro Ciudades Sustentables</h2>
         
         <p>El 1 de Setiembre me invitaron a presentar preciosGub en el <a href="http://www.ahkuruguay.com/eventos/agenda-de-eventos/sv-eventos/events/vi-foro-nacional-de-ciudades-sustentables/?cHash=68e97fa2c05f5fd60c0e3e9a87782d6c">
         Foro Nacional de Ciudades Sustentables </a>organizado por la <a href="">Cámara de Comercio e Industria Uruguayo-Alemana </a> en la Torre de las Telecomunicaciones de Antel.</p>

       
        
           <figure class="figure text-center">
            <img src="https://s3-sa-east-1.amazonaws.com/rlabuonora-portfolio/foro_ciudades/IMG1_82_25_chica250x250.jpg" class="img-rounded">
            <figcaption class="figure-caption">Panel Ciudades Inteligentes</figcaption>
          </figure>
         <p>Me tocó exponer en un panel sobre tendencias y aplicaciones en ciudades inteligentes moderado por Gonzalo Sobral, 
        del que participaron Leonardo Loureiro, Ariel Scaliter y Juan Pablo Pignataro. Acá hay <a href="http://ladiaria.com.uy/articulo/2016/9/farmakon">un artículo de La Diaria con la cobertura del evento. </p>

      
        <% include ../partials/footer %>        
   

      </div>
    </body>
  </html>        