<!DOCTYPE html>
  <html lang="en">
    <% include ../partials/head %>
    <body>
      <div class="container">
        <% include ../partials/header %>
        
        <h3 class="text-center">Proyectos Recientes</h3>
        <ul>
          <li>
            <h4><a href="#">Wikipedia Search</a></h4>
            <p>Usa la API de Wikipedia para buscar artículos. (Bootstrap, JQuery)</p>
            
          
          </li>
          <li>
             <h4><a href="#">Random Quote</a></h4>
            <p>Saca citas al azar de una API pública (Random Quote) y permite twittearla (Bootstrap) </p>
            
          </li>
          <li>
             <h4><a href="#">Weather Widget</a></h4>
            <p>Georeferencia al cliente y consulta el clima en su zona usando Open Weather API </p>
          </li>
                    <li>
             <h4><a href="#">Rails Tutorial</a></h4>
            <p>Un clon de twitter, basado en el tutorial de Michael Hartl </p>
          </li>
          
        </ul>
        <% include ../partials/footer %>
      </div>
    </body>
    
    
  </html>