<!DOCTYPE html>
<html lang="en">
<% include ../partials/head %>
  <script src="bootstrap-switch.min.js"></script>
  <link href="bootstrap-switch.css" rel="stylesheet">
  <link rel="stylesheet" href="twitch.css" type="text/css" />

  <body>
    <div class="container">
      <% include ../partials/header %>


        <h2> Gobierno Electrónico en Corea del Sur </h2>

        <div class="row">
          <div class="col-lg-6">
            <p> El Sistema de Información de Precios al Consumidor obtuvo el primer puesto los premios ExcelGob en la categoría "Innovación Social". El premio consiste en una visita técnica a la República de Corea, para conocer
              <i>in situ</i> las soluciones de gobierno digital de uno de los líderes mundiales en la materia.</p>
            <p>
              Como líder del equipo técnico encargado de desarrollar y mantener el SIPC, fui elegido para asistir a la visita técnica a Seúl junto con el líder del equipo de Urna de Cristal, Diego Gomez de Colombia. </p>
          </div>

          <figure class="figure pull-right" id="right">
            <img src="https://s3-sa-east-1.amazonaws.com/rlabuonora-portfolio/korea/250x250/s_korea_8_250x250.JPG" class="img-rounded">
            <figcaption class="figure-caption">Con Diego Gonzalez y Mr. Lee</figcaption>
          </figure>
        </div>
        <p>
          El primer día, la presentación se desarrollo en la oficina de la municipalidad de Seul y estuvo a cargo de Shin Jong Woo (Director de la División de Planificación de Información). El Sr. Woo presentó dos sistemas de gobierno electrónico para organizar
          encuestas y permitir que los ciudadanos influyan en las políticas de la municipalidad. </p>
        <p>
          Las presentaciones del segundo día se desarrollaron en las oficinas de la NIA. La primera estuvo a cargo de Seung- Hwan Myeong, el Sr. Myeong es investigador en el Department of Public Administration, Inha University. Su principal línea de investigación
          es sobre el rol de las tecnologías de la información aplicadas al gobierno.</p>
        <figure class="figure text-center">
          <img src="https://s3-sa-east-1.amazonaws.com/rlabuonora-portfolio/korea/250x250/s_korea_1_250x250.JPG" class="img-rounded">
          <figcaption class="figure-caption">Con Dr. Jong-Sung Hwang</figcaption>
        </figure>
        <p>
          La segunda presentación del día, a cargo de Dr. Jong-Sung Hwang, fue sobre gobierno inteligente y Smart Cities. El Dr. Hwang es director de la oficina de planeamiento y administración de la NIA. La última presentación fue de Ms. Shinae Shin, líder del
          equipo de planificación de Gobierno 3.0 de la NIA.</p>
        <p>
          El día 4 consistió en una visita a la provincia de Chungbuk, donde se encuentra alojada la oficina central de la Korea Consumer Agency. Esta oficina fue relocalizada a 3 horas de Seúl en el marco de la política de descentralización de la administración
          central del gobierno de Corea. </p>
        <figure class="figure text-center">
          <img src="https://s3-sa-east-1.amazonaws.com/rlabuonora-portfolio/korea/250x250/s_korea_3_250x250.JPG" class="img-rounded">
          <figcaption class="figure-caption">Bienvenida de la municipalidad de Chungbuk</figcaption>
        </figure>

        <p>El quinto día de la misión estuvo centrada en actividades culturales. Primero visitamos la fortaleza Hwaseong. Esta fortaleza fue construida en 1794 y fue declarada patrimonio de la humanidad por la UNESCO.</p>

        <p>
          Luego visitamos el Samsung Innovation Museum. Este museo contiene piezas originales de todo tipo de tecnología de consumo final (radio, televisión, teléfonos, computadoras) desde el el siglo pasado hasta los últimos avances.</p>
        <div class="row">
          <figure class="figure pull-right">
            <img src="https://s3-sa-east-1.amazonaws.com/rlabuonora-portfolio/korea/250x250/l_korea_6_250x250.JPG" class="img-rounded">
            <figcaption class="figure-caption">Con un soldado de la dinastía Joseon</figcaption>
          </figure>

          <figure class="figure pull-left">
            <img src="https://s3-sa-east-1.amazonaws.com/rlabuonora-portfolio/korea/250x250/l_korea_2_250x250.JPG" class="img-rounded">
            <figcaption class="figure-caption">Disfrutando de la comida típica</figcaption>
          </figure>
        </div>

        <p>
          A nivel más humano, Diego y Mr. Lee fueron excelentes compañeros de ruta. Mr. Lee nos llevó a comer a varios lugares y pudimos disfrutar de la comida coreana todo el viaje.
        </p>
        <p>El viaje fue una experiencia muy buena. No solo por el avance de Corea en gobierno electrónico, sino por la posibilidad de ver como es la cultura de trabajo de un país exitoso.</p>

        <p>
          <% include ../partials/footer %>
        </p>





    </div>
  </body>

</html>