<!DOCTYPE html>
  <html lang="en">
    <% include ../partials/head %>
    <body>
      <div class="container">
        <% include ../partials/header %>
        
        <h3 class="text-center">Proyectos Recientes</h3>
        <ul>
          <li>
            <h4><a href="/twitch-tv" target="_blank">Twitch-TV</a></h4>
            <p>Usa la API de Twitch para listar los canales que estan transmitiendo</p>
          </li>
          <li>
            <h4><a href="/wikipedia-search" target="_blank">Wikipedia Search</a></h4>
            <p>Usa la API de Wikipedia para buscar artículos. (Bootstrap, JQuery)</p>
          </li>
          <li>
            <h4><a href="#" target="_blank">La Diaria</a></h4>
            <p>Intento de reproducir la página web de La Diaria</p>
          </li>
          <li>
             <h4><a href="/random-quote" target="_blank">Random Quote</a></h4>
            <p>Saca citas al azar de una API pública (Random Quote) y permite twittearla (Bootstrap) </p>
          </li>
          <li>
             <h4><a href="https://weather-widget-v1.herokuapp.com/" target="_blank">Weather Widget</a></h4>
            <p>Georeferencia al cliente y consulta el clima en su zona usando Open Weather API </p>
          </li>
          <li>
             <h4><a href="https://morning-ridge-1269.herokuapp.com/" target="_blank">Rails Tutorial</a></h4>
            <p>Un clon de twitter, basado en el tutorial de Michael Hartl </p>
          </li>
        </ul>
        <% include ../partials/footer %>
      </div>
    </body>
    
    
  </html>