<!DOCTYPE html>
  <html lang="en">
    <% include ../partials/head %>
    <body>
      <div class="container">
        <% include ../partials/header %>
        
        <h1 class="text-center">Proyectos Recientes</h1>
      
        <ul class="proyectos">
          
            <li>
            <h3><a href="/calculator" target="_blank">Calculadora</a>
            <a href="https://github.com/rlabuonora/calculadora" target="_blank">
              <i class="fa fa-github" aria-hidden="true"></i></a>
            </h3>
            <p>Una calculadora online
            </p>

          </li>
        
          <li>
            <h3><a href="/game-of-life" target="_blank">Game of Life</a>
            <a href="https://github.com/rlabuonora/game-of-life" target="_blank">
              <i class="fa fa-github" aria-hidden="true"></i></a>
            </h3>
            <p>Un simulador del <a href="https://en.wikipedia.org/wiki/Conway's_Game_of_Life">
              juego de la vida</a> de John Conway </p>
          </li>
           <li>
            <h3><a href="/recipe-box" target="_blank">Recipe Box</a>
            <a href="https://github.com/rlabuonora/recipe-box" target="_blank">
              <i class="fa fa-github" aria-hidden="true"></i></a>
            </h3>
            <p>UI con React y Bootsrap. Usa <a href="https://developer.mozilla.org/en/docs/Web/API/Window/localStorage">
              local storage</a> para guardar los datos del usuario.</p>

          </li>
           <li>
            <h3><a href="/markdown-preview" target="_blank">Markdown Preview</a>
            <a href="https://github.com/rlabuonora/markdown_preview" target="_blank">
              <i class="fa fa-github" aria-hidden="true"></i></a>
            </h3>
            <p>Preview Git-flavored Markdown</p>

          </li>
            <li>
            <h3><a href="/fcc-leaderboard" target="_blank">FCC Leaderboard</a>
            <a href="https://github.com/rlabuonora/leaderboard" target="_blank">
              <i class="fa fa-github" aria-hidden="true"></i></a>
            </h3>
            <p> Los campers con más puntos en <a href="http://freecodecamp.com">Free Code Camp</a></p>
          </li>
         
          <li>
            <h3><a href="/la-diaria" target="_blank">La Diaria</a></h3>
            <p>Intento de reproducir la página web de La Diaria</p>
          </li>
          <li>
             <h3><a href="/random-quote" target="_blank">Random Quote</a>
             
              <a href="https://github.com/rlabuonora/random_quote" target="_blank">
              <i class="fa fa-github" aria-hidden="true"></i></a>
             </h3>
            <p>Saca citas al azar de una API pública y permite twittearla </p>
          </li>
          <li>
             <h3><a href="https://weather-widget-v1.herokuapp.com/" target="_blank">Weather Widget</a>
              <a href="https://github.com/rlabuonora/weather_app" target="_blank">
              <i class="fa fa-github" aria-hidden="true"></i></a>
             </h3>
            <p>Georeferencia al cliente y consulta el clima en su zona usando Open Weather API </p>
          </li>
          <li>
             <h3><a href="https://morning-ridge-1269.herokuapp.com/" target="_blank">Rails Tutorial</a></h3>
            <p>Un clon de twitter, basado en el tutorial de Michael Hartl </p>
          </li>
        </ul>
        <% include ../partials/footer %>
      </div>
    </body>
    
    
  </html>